.Rproj.user
.Rhistory
.RData
data/
*.Rproj
*~
.AnalyzeR.R.swo
.AnalyzeR.R.swp
.RDataTmp
prostate_cancer_TCGA_cell.pdf
figures/
*.svg
*.html
*_cache/
*_files/
*.md
report_tex/*
!/report_tex/*.tex
*.png
prac_analysis_doc.pdf
bak/
